<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="Ustawienia">
    <setting type="lsep" label="Kokosik" />
    <setting id="kokosik.user" type="text" label="Nazwa uzytkownika" default="" />
    <setting id="kokosik.pass" type="text" visible="true" label="Haslo" default="" />
    <setting id="kokosik.cookie" type="text" visible="false" default="" />

    <setting type="lsep" />
    <setting id="debugmode" type="bool" label="30799"   default="flase" />
    <setting type="lsep" label="Ustawienia proxy" />
    <setting id="pl_proxy" type="text" label="Server" default=""/>
    <setting id="pl_proxy_port" type="text" label="Port" default=""/>
  </category>
</settings>